/* Universal Styles */

a{
    color: black;
}

.pink-text{
    color: #d31399;
}

.grey-text{
    color: #999999;
}
/* Media-queries */

@media only screen and (max-width: 400px) {
    #head-quote{
        width: 300px;
        font-size: 12px;
    }

    #head-quote div{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    #head-quote div p{
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    #aboutme-section{
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    #aboutme-section img{
        width: 335px;
        height: 335px;
    }

    #about-text{
        width: 80%;
        margin-top: 60px;
    }
}

/* Header Styles */

header{
    display: flex;
    flex-direction: column;
}

/* Top Section */

#top-section{
    display: flex;
    flex-direction: column;
}

#head-quote{
    display: flex;
    justify-content: center;
    color: #999999;
}

#head-quote h6{
    display: flex;
    justify-content: flex-end;
}

/* Main Styles */

main{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

/* Aboutme Section */

#aboutme-section img{
    max-width: 365px;
    max-height: 365px;
}

#about-text{
    max-width: 745px;
}

hr{
    color: rgba(0,0,0,0.150000006);
    margin-bottom: 100px;
    width: 80%;
}